<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.enamul.qrcode">



    <application
        android:name=".Aplikacja"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AktywnoscGlowna"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity android:name=".AktywnoscArtykuly" />
        <activity android:name=".AktywnoscOpis" />
        <activity android:name=".AktywnoscLogin">

            <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>

    </application>

</manifest>